.App {
    text-align: center;
}
body {
    background-color: #E5FFE5;
}

.logo-container {
    position: fixed;
    top: 10px;
    left: 0;
    padding: 20px;
}

.logo {
    width: 120px; /* רוחב הלוגו */
    height: auto; /* אורך הלוגו מתאים בהתאם לרוחב */
}

/*.login div {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-evenly;*/
/*    margin: 30px;*/
/*}*/


.login {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login div {
    margin-bottom: 10px; /* רווח בין התיבות */
}

.login input {
    margin-right: 12px; /* רווח בין התיבה לתיאור */
}


.tooltip {
    position: relative;
}


/*.App-logo {*/
/*    height: 40vmin;*/
/*    pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*    .App-logo {*/
/*        animation: App-logo-spin infinite 20s linear;*/
/*    }*/
/*}*/

/*.App-header {*/
/*    background-color: #282c34;*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: calc(10px + 2vmin);*/
/*    color: white;*/
/*}*/


/*@keyframes App-logo-spin {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

